
body {
	margin-right: auto;
	margin-left: auto; 
	color: white	;
	font-family: serif;
	background-color: black;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;

  
}

h1 { text-align: center;
	text-decoration: line-through;
	font-family: helvetica, serif;


}

h2{ text-align: center;
	padding-top: 150px;

}




p {
	text-align: justify;
	font-family: Helvetica, sans-serif;
	padding-right: 50px;
	line-height: 22px;
	padding-bottom: 10px;
}

ul {
list-style-type: none;
	text-align: left;
	background-color: white;
	background-size: auto;
	margin-right: 300px;
	margin-left: 300px;
	margin-top: 80px;
	
	border-style: ridge;
	font-family: Helvetica, sans-serif;

}
li {
	padding-left: 50px;
}